:root {
    color-scheme: dark;
  --md-sys-color-primary: rgb(241 179 230);
  --md-sys-color-surface-tint: rgb(241 179 230);
  --md-sys-color-on-primary: rgb(76 31 73);
  --md-sys-color-primary-container: rgb(101 54 96);
  --md-sys-color-on-primary-container: rgb(255 215 245);
  --md-sys-color-secondary: rgb(218 191 210);
  --md-sys-color-on-secondary: rgb(61 43 58);
  --md-sys-color-secondary-container: rgb(85 65 81);
  --md-sys-color-on-secondary-container: rgb(247 218 239);
  --md-sys-color-tertiary: rgb(245 184 167);
  --md-sys-color-on-tertiary: rgb(76 38 26);
  --md-sys-color-tertiary-container: rgb(102 60 47);
  --md-sys-color-on-tertiary-container: rgb(255 219 209);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 18 22);
  --md-sys-color-on-background: rgb(236 223 229);
  --md-sys-color-surface: rgb(23 18 22);
  --md-sys-color-on-surface: rgb(236 223 229);
  --md-sys-color-surface-variant: rgb(78 68 75);
  --md-sys-color-on-surface-variant: rgb(209 194 203);
  --md-sys-color-on-surface-variant-2: rgba(209, 194, 203, 0.1);
  --md-sys-color-outline: rgb(154 141 149);
  --md-sys-color-outline-variant: rgb(78 68 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 223 229);
  --md-sys-color-inverse-on-surface: rgb(53 46 51);
  --md-sys-color-inverse-primary: rgb(128 77 121);
  --md-sys-color-primary-fixed: rgb(255 215 245);
  --md-sys-color-on-primary-fixed: rgb(52 8 50);
  --md-sys-color-primary-fixed-dim: rgb(241 179 230);
  --md-sys-color-on-primary-fixed-variant: rgb(101 54 96);
  --md-sys-color-secondary-fixed: rgb(247 218 239);
  --md-sys-color-on-secondary-fixed: rgb(39 22 36);
  --md-sys-color-secondary-fixed-dim: rgb(218 191 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(85 65 81);
  --md-sys-color-tertiary-fixed: rgb(255 219 209);
  --md-sys-color-on-tertiary-fixed: rgb(50 18 8);
  --md-sys-color-tertiary-fixed-dim: rgb(245 184 167);
  --md-sys-color-on-tertiary-fixed-variant: rgb(102 60 47);
  --md-sys-color-surface-dim: rgb(23 18 22);
  --md-sys-color-surface-bright: rgb(62 55 60);
  --md-sys-color-surface-container-lowest: rgb(18 13 17);
  --md-sys-color-surface-container-low: rgb(32 26 30);
  --md-sys-color-surface-container: rgb(36 30 34);
  --md-sys-color-surface-container-high: rgb(47 40 45);
  --md-sys-color-surface-container-highest: rgb(58 51 56);
}