:root[light_mode] {
    color-scheme: light;
    --md-sys-color-primary: #006A6A;
    --md-sys-color-primary-container: #6FF7F6;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-on-primary-container: #002020;
    --md-sys-color-secondary: #4A6363;
    --md-sys-color-secondary-container: #CCE8E7;
    --md-sys-color-on-secondary: #FFFFFF;
    --md-sys-color-on-secondary-container: #051F1F;
    --md-sys-color-tertiary: #4B607C;
    --md-sys-color-tertiary-container: #D3E4FF;
    --md-sys-color-on-tertiary: #FFFFFF;
    --md-sys-color-on-tertiary-container: #041C35;
    --md-sys-color-error: #BA1A1A;
    --md-sys-color-error-container: #FFDAD6;
    --md-sys-color-on-error: #FFFFFF;
    --md-sys-color-on-error-container: #410002;
    --md-sys-color-outline: #6F7979;
    --md-sys-color-background: #FAFDFC;
    --md-sys-color-on-background: #191C1C;
    --md-sys-color-surface: #FAFDFC;
    --md-sys-color-on-surface: #191C1C;
    --md-sys-color-surface-variant: #DAE5E4;
    --md-sys-color-on-surface-variant: #3F4948;
    --md-sys-color-inverse-surface: #2D3131;
    --md-sys-color-inverse-on-surface: #EFF1F0;
    --md-sys-color-inverse-primary: #4CDADA;
    --md-sys-color-shadow: #000000;
    --md-sys-color-surface-tint: #006A6A;
    --md-sys-color-outline-variant: #BEC9C8;
    --md-sys-color-scrim: #000000;
    
    --md-sys-color-on-primary-fixed: #21005d;
    --md-sys-color-on-primary-fixed-variant: #4f378b;
    --md-sys-color-on-secondary-fixed: #1d192b;
    --md-sys-color-on-secondary-fixed-variant: #4a4458;
    --md-sys-color-on-tertiary-fixed: #31111d;
    --md-sys-color-on-tertiary-fixed-variant: #633b48;
    --md-sys-color-primary-fixed: #eaddff;
    --md-sys-color-primary-fixed-dim: #d0bcff;
    --md-sys-color-secondary-fixed: #e8def8;
    --md-sys-color-secondary-fixed-dim: #ccc2dc;
    --md-sys-color-surface-bright: #fef7ff;
    --md-sys-color-surface-container: #f3edf7;
    --md-sys-color-surface-container-high: #ece6f0;
    --md-sys-color-surface-container-highest: #e6e0e9;
    --md-sys-color-surface-container-low: #f7f2fa;
    --md-sys-color-surface-container-lowest: #fff;
    --md-sys-color-surface-dim: #ded8e1;
    --md-sys-color-tertiary-fixed: #ffd8e4;
    --md-sys-color-tertiary-fixed-dim: #efb8c8;
}