:root {
    color-scheme: dark;
    --md-sys-color-primary: #4CDADA;
    --md-sys-color-primary-container: #004F4F;
    --md-sys-color-on-primary: #003737;
    --md-sys-color-on-primary-container: #6FF7F6;
    --md-sys-color-secondary: #B0CCCB;
    --md-sys-color-secondary-container: #324B4B;
    --md-sys-color-on-secondary: #1B3534;
    --md-sys-color-on-secondary-container: #CCE8E7;
    --md-sys-color-tertiary: #B3C8E8;
    --md-sys-color-tertiary-container: #334863;
    --md-sys-color-on-tertiary: #1C314B;
    --md-sys-color-on-tertiary-container: #D3E4FF;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error: #690005;
    --md-sys-color-on-error-container: #FFDAD6;
    --md-sys-color-outline: #889392;
    --md-sys-color-background: #191C1C;
    --md-sys-color-on-background: #E0E3E2;
    --md-sys-color-surface: #191C1C;
    --md-sys-color-on-surface: #E0E3E2;
    --md-sys-color-surface-variant: #3F4948;
    --md-sys-color-on-surface-variant: #BEC9C8;
    --md-sys-color-inverse-surface: #E0E3E2;
    --md-sys-color-inverse-on-surface: #191C1C;
    --md-sys-color-inverse-primary: #006A6A;
    --md-sys-color-shadow: #000000;
    --md-sys-color-surface-tint: #4CDADA;
    --md-sys-color-outline-variant: #3F4948;
    --md-sys-color-scrim: #000000;

    --md-sys-color-on-primary-fixed: #21005d;
    --md-sys-color-on-primary-fixed-variant: #4f378b;
    --md-sys-color-on-secondary-fixed: #1d192b;
    --md-sys-color-on-secondary-fixed-variant: #4a4458;
    --md-sys-color-on-tertiary-fixed: #31111d;
    --md-sys-color-on-tertiary-fixed-variant: #633b48;
    --md-sys-color-primary-fixed: #eaddff;
    --md-sys-color-primary-fixed-dim: #d0bcff;
    --md-sys-color-secondary-fixed: #e8def8;
    --md-sys-color-secondary-fixed-dim: #ccc2dc;
    --md-sys-color-surface-bright: #3b383e;
    --md-sys-color-surface-container: #211f26;
    --md-sys-color-surface-container-high: #2b2930;
    --md-sys-color-surface-container-highest: #36343b;
    --md-sys-color-surface-container-low: #1d1b20;
    --md-sys-color-surface-container-lowest: #0f0d13;
    --md-sys-color-surface-dim: #141218;
    --md-sys-color-tertiary-fixed: #ffd8e4;
    --md-sys-color-tertiary-fixed-dim: #efb8c8;
}